<div class="row footer-contact">
	<div class="col-5">
		<h5 class="text-uppercase">contacts</h5>
		<p>Zoo Arcadia</p>
		<p>35380 Paimpont</p>
		<p>02 99 91 91 91</p>
	</div>
	<div class="col-6 social-media">
		<h5 class="text-uppercase">suivez nous !</h5>
		<div class="">
			<a href="https://www.facebook.com" target="_blank" class="btn button-erase me-2 mb-2">
				Facebook
			</a>
			<a href="https://www.instagram.com" target="_blank" class="btn button-erase me-2 mb-2">
				Instagram
			</a>
			<a href="https://www.twitter.com" target="_blank" class="btn button-erase me-2 mb-2">
				Twitter
			</a>
		</div>
	</div>
</div class="copyright">
<div class="row">
	<p class="text-center fs-6">
		© 2024 Zoo Arcadia Projet ECF Daniel Gros - Tous droits réservés  <span>⚫️</span>
		<a class="text-end text-dark" href="{{ path('app_mentions_legales') }}"> Mentions Légales</a>
	</p>
</div>
