<div class="row footer-contact">
	<div class="col-5">
		<h5 class="text-uppercase fs-5">contacts</h5>
		<p class="fs-6">Zoo Arcadia</p>
		<p class="fs-6">35380 Paimpont</p>
		<p class="fs-6">02 99 91 91 91</p>
	</div>
	<div class="col-1 social-media">
		<h5 class="text-uppercase text-nowrap fs-5">suivez nous !</h5>
		<div class="d-flex flex-column align-items-start">
			<a href="https://www.facebook.com" target="_blank" class="btn button-erase mb-2">
				Facebook
			</a>
			<a href="https://www.instagram.com" target="_blank" class="btn button-erase mb-2">
				Instagram
			</a>
			<a href="https://www.twitter.com" target="_blank" class="btn button-erase mb-2">
				Twitter
			</a>
		</div>
	</div>
</div class="copyright">
<div class="row">
	<p class="text-center fs-6">
		© 2024 Zoo Arcadia Projet ECF Daniel Gros - Tous droits réservés
		<span>⚫️</span>
		<a class="text-end text-dark" href="{{ path('app_mentions_legales') }}">
			Mentions Légales</a>
	</p>
</div>
