<footer class="footer">
	<div class="row footer-contact">
		<div class="col-5">
			<h5 class="text-uppercase">contacts</h5>
			<p>Zoo Arcadia</p>
			<p>35380 Paimpont</p>
			<p>02 99 91 91 91</p>
		</div>
		<div class="col-6 social-media">
			<h5 class="text-uppercase">suivez nous !</h5>
			<a href="https://www.facebook.com" target="_blank">
				<i class="fab fa-facebook-square"></i>
			</a>
			<a href="https://www.instagram.com" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.twitter.com" target="_blank">
				<i class="fab fa-twitter-square"></i>
			</a>
		</div>
	</divclass="copyright">
	<div class="row">
		<p class="text-center">© 2024 Zoo Arcadia Projet ECF Daniel Gros - Tous droits réservés</p>
		<a class="text-end" href="{{path ('app_mentions_legales')}}">Mentions Légales</a>
	</div>
</footer>
