{% extends "base.html.twig" %}

{% block title %}Nos Engagements{% endblock %}

{% block body %}
<p>
	Le Zoo Arcadia est bien plus qu’un simple parc animalier ; c’est un sanctuaire engagé dans la préservation de la planète et la protection des espèces menacées.
			Pionnier de l’écologie, Arcadia est un modèle d’autosuffisance et de responsabilité environnementale, 
			ayant adopté des initiatives remarquables pour limiter son empreinte écologique et promouvoir un monde plus durable.
</p>
<br>
<p>Au cœur de son engagement, Arcadia a mis en place plusieurs dispositifs verts : 
	des panneaux solaires couvrant une grande partie des besoins en énergie du parc, 
	un système de récupération des eaux de pluie pour l’irrigation et le nettoyage, 
	ainsi que des composteurs et des biodigesteurs qui transforment les déchets en ressources, 
	comme de l’engrais naturel pour ses espaces verts. Les visiteurs découvrent également un programme de recyclage intensif, 
	ainsi qu’une élimination des plastiques à usage unique, remplacés par des alternatives durables dans tous les points de vente du zoo.
</p>
<br>
<p>
	En parallèle, le Zoo Arcadia mène une mission essentielle pour la préservation des espèces menacées. 
	Grâce à ses équipes de biologistes et de soigneurs spécialisés, Arcadia participe activement à des programmes de reproduction 
	et de réintroduction d’espèces en danger dans leur habitat naturel. Ses efforts de recherche et d’éducation sensibilisent le public
	à la nécessité de protéger la biodiversité et encouragent une prise de conscience collective sur les enjeux environnementaux.
</p>
<br>
<p>
	Fort de son ambition de devenir un modèle écologique pour les générations futures, 
	Arcadia ne se contente pas de protéger les animaux ; il contribue activement à la sauvegarde de la planète.
	Chaque visite au zoo est une invitation à redécouvrir la nature, comprendre 
	l’importance de chaque geste écologique, et participer à une mission commune : 
	préserver notre monde pour les générations à venir.
</p>

{% endblock %}