@import '_variables';

.footer-contact {
    background-color: $color-primary; // marron foncé
    color: $text-secondary; // jaune citron
    position: sticky;
}

.copyright{
    background-color: $color-tertiary;
} 

.mentions {
    color: $text-secondary;
}