@import '_variables';

.footer {
    background-color: $color-primary; // marron foncé
    color: $text-secondary; // jaune citron
    position: sticky;
}

.copyright{
    background-color: $color-tertiary;
} 