@import "_variables";
.footer {
    background-color: $color-primary; // marron foncé
    color: $text-secondary; // jaune citron
    width: 100%;
}

.copyright {
    background-color: $color-tertiary;
}

.mentions {
    color: $text-secondary;
}
