@import '_variables';
    
.nav {
    color: $text-tertiary;
    text-decoration: none;
    &:hover {
    text-decoration: underline
    }
    &:active {
        background-color: $color-quaternary; //verdigris
        text-decoration: none;
    } 
}

nav li {
    font-size: 75%;
}