
@import '_variables';
// Imports des polices

// Lora pour les titres

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

// Mochiy Pop P One pour les textes

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Mochiy+Pop+P+One&display=swap');



h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: bold;
}
