// variables des couleurs

$color-primary:  #713800; // marron foncé
$color-secondary:  #FFFF4F; // jaune citron
$color-tertiary: #DFF0D8; // vert menthe claire
$color-quaternary: #7EBDC3; // verdigris

// variables des couleurs de textes

$text-primary: #713800; // marron foncé
$text-secondary:  #FFFF4F; // jaune citron
$text-tertiary: #000000; // noir

// variables des polices

$font-title: 'Lora', serif;
$font-text: 'Mochiy Pop P One', cursive;