{% extends 'base.html.twig' %}

{% block title %}Plan du Zoo
{% endblock %}

{% block body %}
	<h1 class"text-uppercase text-center">
		Cette page est en cours de construction</h1>
	<p>
		Vous pouvez néanmoins télécharger le plan du zoo
		<a href="{{ asset('uploads/plan-du-zoo.pdf') }}" class="button btn" download="Plan_du_Zoo">Télécharger le plan du zoo</a>
	</p>
{% endblock %}
