<div class="card" style="width: 18rem;">
  <img src="service.blob" class="card-img-top" alt="service.name">
  <div class="card-body">
    <h5 class="card-title">service.name</h5>
    <a href="#" class="btn btn-primary">En savoir +</a>
  </div>
</div>