{% extends 'base.html.twig' %}

{% block title %}Éditer avis{% endblock %}

{% block body %}
    <h1>Éditer avis</h1>

    {{ include('avis_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avis_crud_index') }}">Retour à la liste</a>

    {{ include('avis_crud/_delete_form.html.twig') }}
{% endblock %}

{# ne sera jamais utilisé car les avis ne pourront quêtre modérés #}