{% extends 'base.html.twig' %}

{% block title %}Nouvel Avis{% endblock %}

{% block body %}
    <h1>Creéer nouvel avis</h1>

    {{ include('avis_crud/_form.html.twig') }}

    <a href="{{ path('app_avis_crud_index') }}">reotur à la liste</a>
{% endblock %}
