{% extends 'base.html.twig' %}

{% block title %}Nouvel Avis{% endblock %}

{% block body %}
    <h1>Créer nouvel avis</h1>

    {{ include('avis_crud/_form.html.twig') }}

    <a class="btn-dark" href="{{ path('app_avis_crud_index') }}">retour à la liste</a>
{% endblock %}
