{% extends "base.html.twig" %}

{% block title %}Sortie pour le Comité d'Entreprise au Zoo Arcadia{% endblock %}
{% block body %}

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-8 text-center">
			<h1 class="display-4 mb-4">Offrez à Vos Salariés une Sortie Exceptionnelle au Zoo Arcadia !</h1>
			<p class="lead mb-4">Le Zoo Arcadia vous propose des offres spéciales pour les comités d'entreprise. Offrez à vos collaborateurs une journée de détente et de découverte dans un cadre unique, tout en profitant de tarifs préférentiels pour les groupes et les CE.</p>
			<h2 class="h3  mb-3">Réservez votre sortie pour le comité d'entreprise !</h2>
			<p class="mb-4">Nous proposons des visites guidées, des ateliers et des activités spéciales adaptées aux besoins de votre comité. Pour organiser votre sortie, contactez-nous ou réservez directement en ligne :</p>
			<div class="list-group mb-4">
				<ul>
					<li><a href="tel:+33299919191" class="list-group-item list-group-item-action"><strong>Téléphone :</strong>02 99 91 91 91</a></li>
					<li><a href="https://wa.me/33999919191" class="list-group-item list-group-item-action"><strong>WhatsApp :</strong>Cliquez ici pour discuter sur WhatsApp</a></li>
				</ul>
			</div>
			<p class="lead">Pour une sortie conviviale et enrichissante pour votre équipe, n'attendez plus pour réserver une journée inoubliable au Zoo Arcadia. Nous sommes à votre disposition pour répondre à toutes vos questions et personnaliser votre expérience.</p>
			{# <a href="#" class="btn btn-warning btn-lg mt-3">Réservez pour votre CE !</a> #}
		</div>
	</div>
</div>


{% endblock %}