<div class="container d-flex justify-content-center align-items-center">
	<table class="table w-50 my-5 horaire">
		<tbody>
			<tr>
				<td class="text-start">Lundi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Mardi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Mercredi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Jeudi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Vendredi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Samedi :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
			<tr>
				<td class="text-start">Dimanche :</td>
				<td class="text-end">8h00 - 19h00</td>
			</tr>
		</tbody>
	</table>
</div>
