{% extends "base.html.twig" %}

{% block title %}Le Potitrain
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div
			class="row align-items-center">
			<div class="col-md-6">
				<img src="{{asset('images/potitrain.webp')}}" class="img-fluid rounded shadow-lg" alt="Le Potitrain - Petit train du zoo">
			</div>
			<div class="col-md-6">
				<div class="card info-card border-0">
					<div class="card-body">
						<h3 class="card-title text-center">Explorez le Zoo en Petit Train</h3>
						<p class="card-text">
							Embarquez à bord du Potitrain, un charmant petit train touristique qui vous emmène à travers les paysages magnifiques du zoo. Idéal pour toute la famille, ce voyage unique vous permet d'explorer les animaux sans effort !
						</p>
						<ul>
							<li>Découvrez les animaux en toute sérénité</li>
							<li>Profitez d'un guide audio immersif</li>
							<li>Arrêts stratégiques pour mieux observer</li>
							<li>Plongée au cœur de la nature</li>
						</ul>
						<p class="text-center">
							<strong>Ouvert tous les jours aux horaires du zoo.</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
