{% extends "base.html.twig" %}

{% block title %}Le Potitrain{% endblock %}

{% block body %}

<div class="container my-5 d-flex justify-content-center">
    <div class="card" style="width: 70%;">
        <img src={{asset('images/potitrain.webp')}} class="card-img-top" alt="Le Potitrain - Petit train du zoo">
        <div class="card-body">
            <h3 class="card-title">Le Potitrain - Explorez le Zoo en Petit Train !</h3>
            <p class="card-text">
                Embarquez à bord du Potitrain, le charmant petit train de notre zoo, pour une aventure unique et relaxante au cœur de la faune et de la flore. Idéal pour les familles, le Potitrain vous offre un moyen agréable de découvrir les animaux sans fatiguer vos jambes, tout en profitant d’une vue panoramique des enclos.
            </p>
            <p class="card-text">
                Avec des arrêts stratégiques tout au long du parcours, le Potitrain vous permet de descendre pour observer de plus près certains des animaux les plus fascinants du zoo, avant de remonter pour poursuivre votre exploration. Vous aurez également accès à des commentaires audio qui racontent l'histoire de chaque animal, leurs habitudes de vie, et les efforts de conservation que notre zoo mène pour les protéger.
            </p>
            <p class="card-text">
                Parfait pour les petits comme pour les grands, le Potitrain promet de transformer votre visite en une expérience inoubliable. Alors, installez-vous confortablement, et laissez-vous guider à travers des paysages enchanteurs et des rencontres animales surprenantes. Embarquez, et laissez le Potitrain vous transporter dans une aventure magique !
            </p>
            <p class="card-text text-center"><small class="text-muted">Ouvert tous les jours aux horaires d'ouverture du Zoo.</small></p>
        </div>
    </div>
</div>

{% endblock %}