{% extends "base.html.twig" %}
{% block title %}Sortie en Groupe au Zoo Arcadia{% endblock %}
{% block body %}

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-8 text-center">
			<h1 class="display-4  mb-4">Organisez une Sortie en Groupe au Zoo Arcadia !</h1>
			<p class="lead mb-4">Vous faites partie d'un groupe et vous souhaitez vivre une expérience unique au Zoo Arcadia ? Que ce soit pour des associations, des entreprises ou des groupes d'amis, le Zoo Arcadia vous propose des visites adaptées à vos besoins, avec des tarifs de groupe avantageux.</p>
			<h2 class=" mb-3">Réservez dès maintenant pour votre groupe !</h2>
			<p class="mb-4">Pour organiser une sortie en groupe au Zoo Arcadia, contactez-nous ou réservez directement en ligne :</p>
			<div class="list-group mb-4">
				<ul>
					<li><a href="tel:+33299919191" class="list-group-item list-group-item-action"><strong>Téléphone :</strong>02 99 91 91 91</a></li>
					<li><a href="https://wa.me/33999919191" class="list-group-item list-group-item-action"><strong>WhatsApp :</strong>Cliquez ici pour discuter sur WhatsApp</a></li>
				</ul>
			</div>
			<p class="lead">Que vous soyez un groupe scolaire, une association ou une entreprise, nous avons des offres sur mesure pour rendre votre sortie au zoo mémorable. N'attendez plus pour réserver une expérience inoubliable !</p>
			{# <a href="#" class="btn button btn-lg mt-3">Réservez votre sortie de groupe !</a> #}
		</div>
	</div>
</div>

{% endblock %}