@import '../abstracts/_variables';
    
.nav {
    color: $text-tertiary; // noir
    text-decoration: none;
    &:hover {
    text-decoration: underline
    }
    &:active {
        background-color: $color-quaternary; //verdigris
        text-decoration: none;
    } 
}