{% extends 'base.html.twig' %}

{% block title %}Horaires du Zoo - Arcadia
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Horaires d'Ouverture du Zoo</h1>
		<p class="text-center">Arcadia vous ouvre ses portes tous les jours de l'année de 8h à 19h.</p>
		<table class="table table-bordered mt-3">
			<thead>
				<tr>
					<th>Jour</th>
					<th>Horaires du Zoo</th>
				</tr>
			</thead>
			<tbody>
				{% set jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
				{% for jour in jours %}
					<tr>
						<td>{{ jour }}</td>
						<td>8h - 19h</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
