<div class="card avis-card shadow-sm mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h5 class="pseudo">{{ avis.pseudo }}</h5>
        <div class="rate">{{ avis.note }} étoiles</div>
    </div>
    <p>{{ avis.message }}</p>
    <p class="text-end">Posté le {{ avis.createdAt|date('d/m/Y') }}</p>
</div>
