<div class="card">
	<div class="col-12 d-flex justify-content-between align-items-center">
		<h5 class="pseudo">Pseudonyme</h5>
		<div class="rate">5 étoiles</div>
	</div>
	<p>Avis client</p>
	<p class="text-end">Posté le Date</p>
</div></div>
