<div class="card">
<div class="row justify-content-between align-iems-center">
<h5 class="pseudo">Pseudonyme</h5>
<div class="rate">5 etoiles</div>
</div>
<div>
<p>Avis client</p>
<p>Posté le Date</p>
</div>
</div>