<div class=" col-md-3 col-sm-12 container mt-4">
	<div class="animal-card">
		<div
			class="row g-0 align-items-stretch">
			<div class="col-4">
				<img src="https://placekitten.com/200/300" alt="Image d'animal" class="img-fluid h-100 w-100" style="object-fit: cover;">
			</div>
			<div class="col-7 p-3">
				<div class="card-body">
					<h5 class="card-title">Nom de l'Animal</h5>
					<p class="card-text">
						Voici une description détaillée de l'animal. Ce texte peut inclure des informations sur l'espèce, son comportement, et ses caractéristiques.
					</p>
				</div>
			</div>
			<div class="col-1 d-flex flex-column justify-content-end text-end p-3">
				<button class="btn btn-primary">+</button>
			</div>
		</div>
	</div>
</div>
