{% extends 'base.html.twig' %}

{% block title %}Éditer Habitat{% endblock %}

{% block body %}
    <h1>Éditer Habitat</h1>

    {{ include('habitat_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" href="{{ path('app_habitat_crud_index') }}">retour à la liste</a>

    {{ include('habitat_crud/_delete_form.html.twig') }}
{% endblock %}
