{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <h1>Créer nouvel habitat</h1>

    {{ include('habitat_crud/_form.html.twig') }}

    <a href="{{ path('app_habitat_crud_index') }}">Retour à la liste</a>
{% endblock %}
