{% extends 'base.html.twig' %}

{% block title %}Éditer Utilisateur{% endblock %}

{% block body %}
    <h1>Éditer Utilisateur</h1>

    {{ include('user_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_crud_index') }}">Retour à la liste</a>

    {{ include('user_crud/_delete_form.html.twig') }}
{% endblock %}
