<div>
<img src="{{ asset('assets/images/logo-arcadia.webp') }}" alt="Logo Arcadia">

<img src="{{ asset('assets/images/horizon-background-bandeau-header.webp')}}" alt="sous bannière de la navbar représentant l'horizon de la savane">
</div>