<div class="container-fluid row habitat-list">
    {% if habitats is not empty %}
        {% for habitat in habitats %}
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="card habitat-card habitat-item">
                    <div class="card-body">
                        <h5>{{ habitat.nom }}</h5>
                        <a href="#" class="button btn btn-primary text-center d-flex justify-content-center">Sélectionner</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="col-12">Aucun habitat disponible pour le moment.</p>
    {% endif %}
</div>

