<div class="card col-md-3 col-sm-11 container-fluid">
	<h5 class="card-header">Featured</h5>
	<div class="card-body">
		<a href="#" class="btn btn-primary text-center d-flex justify-content-center">Sélectionner</a>
	</div>
</div>

