<div class="mb-4">
	<a href="{{ path('app_animal') }}" class="btn button">Tous les habitats</a>
	{% for habitat in habitats %}
		<a href="{{ path('animal_list', { habitat: habitat.id }) }}" class="btn button">
			{{ habitat.name }}
		</a>
	{% endfor %}
</div>
