<div class="container mt-5">
	<div class="row">
		{% for habitat in habitats %}
			<div class="col-md-4 h-100">
				<div class="card mb-4 shadow-sm h-100">
					<div class="card-body text-center service-card d-flex flex-column justify-content-between">
						<h5 class="card-title">{{ habitat.name }}</h5>
						<a href="{{ path('habitat_animals', { id: habitat.id }) }}" class="btn button mt-3">Voir les animaux</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

