<div class="card col-md-3 col-sm-11 container-fluid habitat-card">
	<h5 class="card-header text-center">nom d'habitat</h5>
	<div class="card-body">
		<a href="#" class="button btn btn-primary text-center d-flex justify-content-center">Sélectionner</a>
	</div>
</div>

