{% extends 'base.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1>Créér un nouvel animal</h1>

    {{ include('animal_crud/_form.html.twig') }}

    <a href="{{ path('app_animal_crud_index') }}">retour à la liste</a>
{% endblock %}
