{% extends 'base.html.twig' %}

{% block title %}Editer Commentaire Habitat{% endblock %}

{% block body %}
    <h1>Editer Commentaire Habitat</h1>

    {{ include('commentaire_habitat_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentaire_habitat_crud_index') }}">retour à la liste</a>

    {{ include('commentaire_habitat_crud/_delete_form.html.twig') }}
{% endblock %}
