{% extends 'base.html.twig' %}

{% block title %}NouveauCommentaire Habitat{% endblock %}

{% block body %}
    <h1>Créer nouveau Commentaire Habitat</h1>

    {{ include('commentaire_habitat_crud/_form.html.twig') }}

    <a class="btn btn-dark"href="{{ path('app_commentaire_habitat_crud_index') }}">retour à la liste</a>
{% endblock %}
