{% extends 'base.html.twig' %}

{% block title %}Éditer Compte Rendu Vétérinaire{% endblock %}

{% block body %}
    <h1>Éditer Compte Rendu Vétérinaire</h1>

    {{ include('compte_rendu_veterinaire_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_compte_rendu_veterinaire_crud_index') }}">retour à la liste</a>

    {{ include('compte_rendu_veterinaire_crud/_delete_form.html.twig') }}
{% endblock %}
