{% extends 'base.html.twig' %}

{% block title %}New CompteRenduVeterinaire{% endblock %}

{% block body %}
    <h1>Create new CompteRenduVeterinaire</h1>

    {{ include('compte_rendu_veterinaire_crud/_form.html.twig') }}

    <a href="{{ path('app_compte_rendu_veterinaire_crud_index') }}">back to list</a>
{% endblock %}
