{% extends 'base.html.twig' %}

{% block title %}Nouveau Compte Rendu Vétérinaire{% endblock %}

{% block body %}
    <h1>Créér Nouveau Compte Rendu Vétérinaire</h1>

    {{ include('compte_rendu_veterinaire_crud/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_compte_rendu_veterinaire_crud_index') }}">retour à la liste</a>
{% endblock %}
