{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1 class="text-bold">{{ title }} - {{ projet}}</h1>

<p><strong>Propriétaire du site :</strong><br>
    Daniel Gros<br>
    Étudiant à l'école Studi<br>
    Contact : {{ mail }}</p>

    <!-- <p><strong>Hébergeur du site :</strong><br>
    [Nom de l’hébergeur]<br>
    Adresse : [Adresse de l’hébergeur]<br>
    Téléphone : [Numéro de téléphone de l’hébergeur]<br>
    Site web : [URL de l’hébergeur]</p> -->

    <p><strong>Responsabilité éditoriale :</strong><br>
    Le site "Arcadia" est un projet scolaire réalisé dans le cadre des études de <strong>Daniel Gros</strong> à l'école <strong>Studi</strong>. Toutes les informations et contenus publiés sur ce site sont fournis à titre éducatif. Daniel Gros en tant que propriétaire du site, s’efforce de fournir des informations exactes et à jour. Cependant, aucune garantie ne peut être donnée quant à l'exactitude ou l'exhaustivité des informations présentes. Le contenu peut être modifié à tout moment sans préavis.</p>

    <p><strong>Propriété intellectuelle :</strong><br>
    Tous les contenus, textes, images, et éléments graphiques présents sur le site "Arcadia" sont protégés par le droit d’auteur. Toute reproduction, distribution ou exploitation des contenus du site sans autorisation expresse de <strong>Daniel Gros</strong> est interdite.</p>

    <p><strong>Protection des données personnelles :</strong><br>
    Le site "Arcadia" peut collecter des informations personnelles via des formulaires de contact. Ces données sont traitées uniquement dans le cadre du projet scolaire et ne seront pas transmises à des tiers. Conformément à la réglementation en vigueur sur la protection des données, vous disposez d’un droit d’accès, de rectification, et de suppression de vos données personnelles. Pour exercer ces droits, vous pouvez contacter <strong>Daniel Gros</strong> à l'adresse suivante : [ajouter email].</p>

    <p><strong>Responsabilité :</strong><br>
    <strong>Daniel Gros</strong> ne pourra être tenu responsable des dommages directs ou indirects résultant de l'utilisation du site "Arcadia" ou des informations qu'il contient.</p>

    <p><strong>Liens hypertextes :</strong><br>
    Le site "Arcadia" peut contenir des liens vers d'autres sites web. <strong>Daniel Gros</strong> décline toute responsabilité quant aux contenus de ces sites externes.</p>

    <p><strong>Législation applicable :</strong><br>
    Les présentes mentions légales sont régies par la législation française. En cas de litige, les tribunaux français seront compétents.</p>

    <p><em>Dernière mise à jour : le 21 Octobre 2024</em></p>
{% endblock %}
